<main class="">
  <div class="form">
    <!-- Forgot form container -->
    <form action="/user/forgot-password" method="post" enctype="application/x-www-form-urlencoded">
      <h3>Forgot Password Request</h3>
      <!-- Email input box -->
      <div class="input_box">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter email address" required value="<%= locals.email %>"/>
      </div>
       <!-- Forgot request button -->
      <button type="submit" id="submit_button">Send Reset Link</button>
      <div class="go_to_links-container">
        <a href="/user/login">Go to LogIn</a>
        <a href="/user/signup">Go to SignUp</a>
      </div>
    </form>
  </div>
</main>
