<main class="">
  <div class="form">
    <!-- Reset form container -->
    <form action="/user/reset-password/<%= token %>" method="post" enctype="application/x-www-form-urlencoded">
      <h3>Reset Password</h3>
      <!-- Paswwrod input box -->
      <div class="input_box">
        <div class="input_title_container">
          <label for="password">Password</label>
        </div>
        <input type="password" id="password" name="password" placeholder="Enter your password" required  value="<%= locals.password %>"/>
      </div>
       <!-- Reset request button -->
      <button type="submit" id="submit_button">Reset Passwrod</button>
    </form>
  </div>
</main>