<main class="">
  <a class="btn btn-warning mb-2" href="/" role="button">Home</a>
  <div class="form">
    <!-- Reset form container -->
    <form action="/user/reset-password" method="post" enctype="application/x-www-form-urlencoded">
      <h3>Reset Password</h3>
      <!-- Old Paswwrod input box -->
      <div class="input_box">
          <label for="old-password">Old Password</label>   
        <input type="password" id="oldPassword" name="oldPassword" placeholder="Enter your Old password" required value="<%= locals.oldPassword %>"/>
      </div>
      <!-- New Paswwrod input box -->
      <div class="input_box">
          <label for="new-password">New Password</label>   
        <input type="password" id="newPassword" name="newPassword" placeholder="Enter your New password" required value="<%= locals.newPassword %>"/>
      </div>
       <!-- Reset request button -->
      <button type="submit" id="submit_button">Reset Passwrod</button>
    </form>
  </div>
</main>