<main >
  <div class="form">
    <!-- SignUp form container -->
    <form action="/user/signup" method="post" enctype="application/x-www-form-urlencoded">
      <h3>Sign Up with</h3>
      <div class="options">
        <!-- Google button -->
        <div class="option">
          <a href="/user/auth/google">
            <img src="https://cdn-icons-png.flaticon.com/512/281/281764.png" alt="Google" />
            <span>Google</span>
          </a>
        </div>
      </div>
      <!-- SignUp option separator -->
      <p class="separator">
        <span>or</span>
      </p>
       <!-- Name input box -->
      <div class="input_box">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter Full Name" required value="<%= locals.name %>"/>
      </div>
      <!-- Email input box -->
      <div class="input_box">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter email address" required value="<%= locals.email %>"/>
      </div>
      <!-- Paswwrod input box -->
      <div class="input_box">
          <label for="password">Password</label>   
        <input type="password" id="password" name="password" placeholder="Enter your password" required value="<%= locals.password %>"/>
      </div>
      <!-- reCAPTCHA -->
      <div class="g-recaptcha" data-sitekey="6Lfx0HEqAAAAANCz0xFb3ewEGWWyJ6QCmvSTPCjU"></div>
      <br/>
       <!-- SignUp button -->
      <button type="submit" id="submit_button">Sign Up</button>
      <p >Have an account? <a href="/user/login">Login</a></p>
    </form>
  </div>
</main>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

